.bg-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    width: 500px;
    height: 400px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 0px;
    position: absolute;
    margin: -3% 20%;
}

label {
    bottom: 10px;
    display: block;
}

.popup-btn
{
    top: 50px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}